

.body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-fluid{
  flex:1;
}

.navbar {
    height: 5rem;
    background-color: whitesmoke;
}

.fa-regular{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222  !important;
}


.parent {
  display: flex;
  justify-content: space-between; /* pushes left & right */
  width: 100%;
  border: 1px solid black;
  background-color: #F5F5DC;
  height: 7rem;
}

.child {
  width: 50%;
}

/* align content inside each side */
.child:first-child {
    display: flex;
    align-items: center;
    gap: 10px;
  text-align: left;
  
  
}

.child:first-child a {
   text-decoration: none; 
   color: black;
}


.child:last-child {
    margin: 3rem 3rem;
  text-align: right;
}

.child:last-child a {
   text-decoration: none;
   color: black; 
}
   
.fa-regular{
    font-size: 13px;
    color: black;
}

.card {
  width: 100%;
}

.card{
  margin-bottom: 2rem;
  
}
.card-img-top{
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;

}

.card-body{
  padding: 0 !important;
  border: none;

}

.card-img-top {
  height: 200px;       /* same height for all images */
  object-fit: cover;   /* crop image nicely */
}

.card-img-overlay{
  opacity: 0;
}

.card-img-overlay:hover{
  opacity:2;
  color: white;
}

.card-title{
  text-decoration: none;
}

.err{
  height: 100% !important;
}

.row a{
  text-decoration: none;
}

.btn-group  :hover {
  border: 1px solid black;
}

.btn-group{
  margin-right: 1rem;
}


